@model Ecommerce_Software_Project.ViewModels.AddProductView
<h1>Product</h1>

<div class = "align-content-center">
    <h1>Computer</h1>
    <img src=~/images/2c74b262-99e6-4d5d-9d48-57d71876679bFRIt18WWYAASZny.jpg/>
    <h2>Seller: Ahmed</h2>
    <h2>Price: 20</h2>
    <h2>Quanitity: 52</h2>
    <h2>Date: 20/5</h2>
    <p>Description: lorem is sinsm sooma hanu ska mkk lkklsda lksdjaklfj slksd</p>
</div>