@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">

    <br/>
    <img src="~/movingcart.gif" />
    <br/>
    
    <h1 class="display-4">World Fastest E-Commerce Website.</h1>
    
    <br/>
    <h2> Enjoy our latest, new products with almost half the price out there.
    </h2>
    <button class="btn btn-warning"> Shop </button>

</div>
