@model IEnumerable<Category>

@{
    ViewData["Title"] = "Categories";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Show Categories</h1>

<p>
    <a href="@Url.Action("AddCategory")" class="btn btn-primary"> Create New </a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CategoryName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CategoryName)
                </td>
                <td>
                    <a href="/Admin/ViewCategory/@item.Id">View</a> |
                    <a href="/Admin/DeleteCategory/@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
